{% extends "base.html" %}


{% block content %}


<h1>{{page_title}}</h1>


<table>


<tr>

<th>Company</th>

<th>Title</th>

<th>Location</th>

<th>Salary</th>

<th>Apply</th>

<th>Status</th>

</tr>



{% for job in jobs %}


<tr>


<td>

{{job.company}}

</td>


<td>

{{job.title}}

</td>


<td>

{{job.location}}

</td>


<td>

{{job.salary}}

</td>



<td>


<a href="{{job.url}}" target="_blank">

Apply Here

</a>


</td>



<td>

{{job.status}}

</td>


</tr>


{% endfor %}


</table>


{% endblock %}